html {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFF2;
  font-family: arial;
  margin: 0;
}

#container {
  width: 60%;
  margin: auto;
}

h1 {
  color: #555;
  margin: 0;
}

h3 {
  background: #FBF5E6;
  color: #555;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 63%;
  text-align: center;
}

.input {
  float: left;
}

.input textarea {
  background: #FBF5E6;
}

#input-text {
  float: left;
}

.translation {
  width: 20%;
}

#spinner {
  display: none;
}

#yoda-pic {
  float: left;
}
